body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

}


/* Header Section */
.header {
  background: #000;
  padding: 10px;
}

.contact-section {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 96%;
}

.contacts {
  display: flex;
  align-items: center;
  padding: 10px 30px;
}

.contact-text p {
  margin: 0;
  line-height: 1.1rem;
}

.social-links {
  display: flex;
  align-items: center;
  width: 10;
}

.social-links img {
  width: 17px;
  height: 17px;
  margin-right: 30px;
}

.contact-icon {
  font-size: 1.1rem;
  margin-right: 10px;
}

.vertical-separator {
  border-left: 1px solid #fff;
  height: 25px; /* Adjust height as needed */
  margin: 0 10px;
}

.contacts:last-child {
  margin-left: 0; /* Moves the last contact to the right */
}

/* Logo Section----------- */
.logo {
 justify-content: right;
  padding: 20px 0px;
}
.logo-book {
  margin-left: 160px;
}
.logo-text {
  margin-left: 10px;
  width: 201px;
  height: 38px;
  color: #000;

  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.48px;
}
.logo .btn {
  display: flex;
  padding: 10px 22px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
  border: 1px solid var(--STROKE-COLOR, #6ae13d);
  background: var(--04-bc-01, #04bc01);
  color: #fff;
text-decoration: none;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.logo-book a{
  text-decoration: none;
}
.logo .btn:hover {
  background: #6ae13d;
}

/* Navbar Section */
.navbar {
  width: 100%;
  height: 88px;
  flex-shrink: 0;
  background: var(--04-bc-01, #04bc01);
  align-items: center;
  justify-content: center;

  position: relative; /* Add position relative */
  z-index: 1; /* Ensure navbar is above background */
}

.navbar .btn {
  display: inline-flex;
  padding: 10px 24px;
  align-items: flex-end;
  gap: 10px;
  border-radius: 25px;
  border: 1px solid #04bc01;
  background: #fff;
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: 0.5s;
}
.navbar .btn:hover {
  background: #abff7b;
  color: #fff;
}
/* Active Button Style */
.navbar .btn.active {
  background-color: #fff; /* Change this to your desired active background color */
  color: #6ae13d; /* Change this to your desired active text color */
  border-color: #6ae13d; /* Change this to match the active background color */
}
.nav-items {
  margin-left: 40px;
}

/* Hero Section----------------- */
.hero-section {
  position: relative;
  width: 100%;
   height: 100vh; /Full viewport height */
  
}

.hero {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.22);
  
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 107%;
  background: url("../images/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1; /* Ensure it stays behind content */
  transform: translateY(-45px); /* Move image up by half of its height */
}

.services-wrapper {
  position: relative;
  z-index: 1; /* Ensure container content is above the background */
}

/* Hero Header----------------- */
.hero-header {
  margin-top: 200px;
  height: 58px;
  flex-shrink: 0;
  color: #fff;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 1.92px;
}
.hero-info {
  margin-top: 160px;
  display: flex;
}
.hero-box {
  display: flex;
  width: 302px;
  height: 102px;
  padding: 15px 37px 37px 48px;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  flex-shrink: 0;
  background: var(--main-color, #05ba09);
  margin-right: 80px;
  transition: 0.3s;
}
.hero .hero-box:hover {
  background: #abff7b;
}
.hero-box p {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

/* About Us Section--------------------------- */
.about-us {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-images {
  display: flex;
  align-items: flex-start; /* Align images to the top */
}

.left-column {
  flex: 1; /* Take up remaining space */
  display: flex;
  flex-direction: column;
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
#image1 {
  border: 1px solid var(--04-bc-01, #04bc01);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#image2 {
  border: 1px solid var(--04-bc-01, #04bc01);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#image3 {
  margin-top: 10px;
  border: 1px solid var(--04-bc-01, #04bc01);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.stacked-images {
  display: flex;
  flex-direction: column;
}

.stacked-images img {
  width: 346px;
  height: 250px;
}
.stacked-images img:first-child {
  top: 0;
  margin-bottom: 20px; /* Adjust the desired gap between images */
}

.right-column {
  width: 347px;
  height: 522px;
  /* margin-top: 10px; */
  margin-left: 20px;
}

.right-column img {
  width: 347px;
  height: 522px;
}
.about-text {
  flex: 1; /* Allow text to take remaining space */
  margin-left: 60px;
  margin-top: 22px;
}
.title h4 {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.title h3 {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.about-text p {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
}
.about-text a{
  text-decoration: none;
}
.about-text .btn {
  display: flex;
  padding: 10px 16px;
  align-items: flex-end;
  gap: 10px;
  border-radius: 25px;
  background: var(--04-bc-01, #04bc01);
  color: var(--neutral-color, #fff);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.about-text .btn:hover {
  background: #abff7b;
  color: #000;
}
.about-qty {
  display: flex;
  align-items: center;
}
.about-icon{
  width: 40px;
  height: 40px;
}

.btn {
  margin-top: 20px; /* Add space above the button */
}

/* Our Service Section--------------- */
.services{
  position: relative;
  width: 100%;
  padding: 50px 0;
  
  overflow: visible; /* Allow the background image to overflow */
}
.service-bg{
  position: absolute;
  top: 0;
  left: 100;
  width: 100%;
  height: 100%;
  background: url('../images/right~2.png') no-repeat center center/cover;
  z-index: -1;
  opacity: 20.5; /* Adjust the opacity to your preference */
}

.services-wrapper {
  position: relative;
  z-index: 1;
 
}

.center-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin-top: 50px;
}
.center-title h2 {
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.custom-underline {
  display: inline-block;
  position: relative;
}

.custom-underline::after {
  content: "";
  position: absolute;
  left: 31;
  bottom: -17px; /* Adjust the position as needed */
  width: calc(47% - 0px); /* Adjust width to leave space for the squared end */
  height: 3px; /* Thickness of the underline */
  background-color: #04bc01; /* Color of the underline */
}

.custom-underline::before {
  content: "";
  position: absolute;
  left: 116;
  bottom: -23px; /* Match this with the `bottom` value of ::after */
  width: 17px; /* Length of the squared end */
  height: 17px; /* Match this with the height of ::after */
  transform: rotate(36deg); /* Rotate to create the diamond shape */
  background-color: #04bc01; /* Match this with the background-color of ::after */
}
/* Our Team Title ---------------*/
.team-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 130%;
  background: url('../images/left~2.png') no-repeat center center/cover;
  z-index: -1;
  opacity: 20.5; /* Adjust the opacity to your preference */
}
.team-title {
  display: inline-block;
  position: relative;
}
.team-title::after {
  content: "";
  position: absolute;
  left: 31;
  bottom: -17px; /* Adjust the position as needed */
  width: calc(47% - 0px); /* Adjust width to leave space for the squared end */
  height: 3px; /* Thickness of the underline */
  background-color: #04bc01; /* Color of the underline */
}
.team-title::before {
  content: "";
  position: absolute;
  left: 97px;
  bottom: -23px; /* Match this with the `bottom` value of ::after */
  width: 17px; /* Length of the squared end */
  height: 17px; /* Match this with the height of ::after */
  transform: rotate(36deg); /* Rotate to create the diamond shape */
  background-color: #04bc01; /* Match this with the background-color of ::after */
}

/* Slider------------------ */
.box {
  padding: 10px;
  text-align: center;

  width: 38%; 
  margin-left: 84px;
}
.slider {
  margin-top: 70px;
}

.text-above p {
  margin: 0;
  padding: 20px 0px;
}

.image-above p {
  margin: 0;
  padding: 20px 0px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.box-title {
  color: #000; 
  position: relative;
  display: inline-block; 
  margin-top: 10px;
}
.box-title::after {
  content: "";
  position: absolute;
  left: 57px;
  bottom: -5px;
  width: 40%;
  height: 3px; /
  background-color: #04bc01; 
}

/* Custom styles for carousel indicators */


/* Our Team Section----------------- */
.team {
  position: relative;
  width: 100%;
  padding: 50px 0;
  color: white;
  overflow: visible;
}

.team-card {
  overflow: hidden;
  text-align: center;
  width: 250px; /* Adjust width as needed */
  margin: 0 auto; /* Center the card horizontally */
  margin-top: 60px;
}

.card-img img {
  width: 100%;
  height: auto;
  display: block;
  border: 1px solid var(--04-bc-01, #04bc01);
  padding: 10px;
}

.card-text {
  padding: 4px 10px;
  border: 1px solid var(--04-bc-01, #04bc01);
  border-radius: 0px 0px 22px 0px;
  margin-top: 7px;
}

.card-title {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.card-text p {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* Our Products Section------------------------------- */
.proucts {
  padding: 20px 0;
}
.product-card {
  overflow: hidden;
  text-align: center;
  width: 250px; /* Adjust width as needed */
  margin: 0 auto; /* Center the card horizontally */
  margin-top: 60px;
}

.product-img img {
  width: 100%;
  height: auto;
  display: block;
  border: 1px solid var(--04-bc-01, #04bc01);
  padding: 10px;
}

.product-text {
  padding: 4px 8px;
  border: 1px solid var(--04-bc-01, #04bc01);
  margin-top: 7px;
  text-align: left;
}

.product-title {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.product-text p {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.our-products .btn {
  display: inline-flex;
  padding: 10px 22px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
  border: 1px solid var(--STROKE-COLOR, #6ae13d);
  background: var(--04-bc-01, #04bc01);
  color: #fff;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 135px;
  margin-left: 50%;
  transition: 0.3s;
}
.our-products .btn:hover {
  background: #abff7b;
  color: #000;
}

/* Blogs--------------------------- */
.blog-card {
  display: flex;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 20px;
  align-items: center;

  margin: 50px auto;
}

.blog-image {
  flex: 1;
  margin-right: 20px;
}

.blog-image img {
  /* max-width: 100%; */
  width: 436px;
  height: 248px;
}

.blog-text {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 0px;
}

.blog-content {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
}

.blog-info {
  display: flex;
  align-items: center;
  gap: 132px;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
}

.blog-info span {
  display: flex;
  align-items: center;
  gap: 5px;
}

.blog-info .date {
  display: flex;
  align-items: center;
  margin-left: 80px;
}

.date-icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  margin-bottom: 4px;
}

.btn {
  background-color: #04bc01;
  color: #fff;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background: #abff7b;
  color: #000;
}

/* Buttons---------------------------- */
.book-navs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.bookings-navs {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-nav {
  background: #fff;
  border-color: #04bc01;
  color: #000;
}

/* Footer Section------------------------------ */
.footer {
  width: 100%;
  background-color: #04bc01;
  padding-top: 40px;
  color: white;
  margin-top: 70px;
}
.footer-top {
  margin-top: 30px;
  display: flex;
}

.footer-top > div {
  padding: 10px;
}
.info {
  flex: 2;
}
.navs,
.hours,
.contact {
  flex: 1;
}
.icon {
  margin-bottom: 30px;
}
.icon img {
  margin-right: 10px;
}
.icon-text {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;

  letter-spacing: 0.96px;
  margin-left: 20px;
}
.info-content {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;

  letter-spacing: 0.32px;
}
.icon-left {
  display: flex;
  align-items: center;
}
.footer-social {
  display: flex;
}
.footer-social a {
  margin-right: 30px;
}
.navs {
  flex: 0.5;
}
.navs-title {
  color: #fff;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
}
.navs-lists {
  list-style-type: none;

  margin: 60px 0px;
}
.navs-lists a {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;

  text-decoration: none;
  margin-top: 20px;
}
.navs-lists a:hover {
  text-decoration: underline;
}
.hours-lists {
  margin-top: 60px;
}
.hours-lists li {
  margin-top: 5px;
  color: #fff;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  gap: 20px;
}
.contact p {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.contact-info {
  margin-top: 50px;
}
.icon-left {
  display: flex;
  align-items: center;
}
.footer-social {
  display: flex;
}
.footer-social a {
  margin-right: 10px;
}

/* Footer Down------------------ */
.footer-down {
  display: flex;
  background-color: #fff;
  height: 100px;
}
.footer-down .copy {
  height: 100%;
  background-color: black;
  color: white;
  flex: 1;
  align-content: center;
  box-sizing: border-box;
  border-right: 70px solid #fff;
  border-bottom: 100px solid transparent;
}
.copy {
  /* text-align: center; */
  width: 100%; /* Optional: ensure it takes full width */
}
.copy p {
  color: #fff;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-top: 30px;
  padding: 8px 35px;
}
.footer-down .sign-up {
  height: 100%;
  background-color: #fff;
  color: black;
  flex: 1.5;
  gap: 10px;
  box-sizing: border-box;
}
.sign-up {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%; /* Ensure it takes full width */
  justify-content: center;
  padding: 0px 60px;
}
.sign-up p {
  margin: 0;
  flex: 1; /* Make the text take up available space */
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.6px;
}
.email {
  display: flex;
  align-items: center;
  border-radius: 25px;
  border: 1px solid #000;
  overflow: hidden;
  flex: 1; /* Adjust the flex value to allocate space */
}
.email input[type="email"],
.email button {
  height: 100%;
  padding: 10px;
  border: none;
  outline: none;
}
.email input[type="email"] {
  flex: 1;
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
}
.email button {
  background-color: #05ba09;
  display: flex;
  width: 114px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  transition: ease 0.5s;
}
.email button:hover {
  background-color: #abff7b;
  color: #000;
}

/* About Us PAge---------------------------------------- */
.about-home{
  background: rgba(0, 0, 0, 0.46);
}
.about-bg {
  position: absolute;
  /* top: 10%; */
  left: 0;
  width: 100%;
  height: 97%;
  background-image: url("../images/about-us-home.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1; /* Ensure it stays behind content */
  transform: translateY(-45px);
}

.about-header {
  align-items: center;
  margin-top: 40%;
  margin-left: 40%;
  color: #fff;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 1.92px;
}

.about-text h4{
  color: #000;
font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 15px;
}
.accordion-button {
  font-size: 25px; /* Adjust the font size as needed */
}
.about-box-bg{
  position: absolute;
  /* top: 10%; */
  left: 0;
  width: 100%;
  height: 436px;
  background-image: url("../images/about-us-home.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1; /* Ensure it stays behind content */
 
}
.about-info{
  width: 100%;
height: 436px;
/* flex-shrink: 0; */
background: rgba(0, 0, 0, 0.46);
margin-top: 60px;
margin-bottom: 20px;

}
.info-box{
  border: solid 5px #fff;
  padding: 23px 26px;
  width: 300px;
  align-items: center;
  margin-top: 150px;
  margin-right: 65px;
}
.info-box span{
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
   margin-left: 45%;
}
.info-box p{
   color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500
}


/* Our Services-------------------------------------------- */

.services-bg{
  position: absolute;
  /* top: 10%; */
  left: 0;
  width: 100%;
  height: 564px;
  background-image: url("../images/services-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1; /* Ensure it stays behind content */
  transform: translateY(-45px);
}
.service-box{
  border: 5px solid #04BC01;
  padding: 23px 26px;
  width: 300px;
  align-items: center;
  margin-top: 70px;
  margin-left: 65px;
  margin-bottom: 80px;
 
}
.our_service{
  background-color: transparent;
  overflow: visible;
}
.service-box p{
  color: #000;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.service-text{
  margin-top: 200px;
}
.service-text h4{
  color: #000;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 2.4px;
}
.service-text p{
  color: #000;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.2px;
}
/* Services Info Section-------------------- */

.nav-pills .nav-link {
  background: #6AE13D;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 1.2em; /* Increase font size */
  margin-bottom: 1.5rem;
}

.nav-pills .nav-link.active {
  background: #4CAF50; /* Slightly different shade for active state */
}

.tab-pane {
  padding: 20px;
  background: #f9f9f9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: transparent;
}

/* Blogs Section----------------- */
.blog-home{
  background: rgba(0, 0, 0, 0.46);
}
.blog-bg {
  position: absolute;
  /* top: 10%; */
  left: 0;
  width: 100%;
  height: 97%;
  background-image: url("../images/garlic.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1; /* Ensure it stays behind content */
  transform: translateY(-45px);
}

/* Featured Service Backround Image-------- */
.featured-service-bg{
  position: absolute;
  margin-top: 5%;
  left: 100;
  width: 100%;
  height: 100%;
  background: url('../images/right~2.png') no-repeat center center/cover;
  z-index: -1;
  opacity: 20.5; /* Adjust the opacity to your preference */
}

/* Blogs Page----------------------- */
.blogs-items {
  display: flex;
  width: 100%;
  margin-top: 50px;
}

/* Ensure both divs have the same height */
.blogs-card, .blog-news {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px;
  flex: 1; /* Adjusts to the same height */
  margin: 10px; /* Optional: Add some margin */
}

.blogs-card {
  border: 1px solid #04BC01;
  display: flex; /* Added */
    flex-direction: column; /* Added */
}

/* Additional styling */
.blogs-image img {
  width: 100%;
  height: 433px;
  margin-top: 20px;
 
}

.blogs-text{
margin-top: 5px;
color: #000;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.8px;

}
.search{
  border-radius: 25px;
  border: 1px solid #04BC01;
  display: flex;
width: 176px;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
}


.blogs-info {
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
}

.blogs-info span {
  display: flex;
  align-items: center;
}

.blogs-info .date img {
  margin-right: 10px;
}

.form-control {
  width: 100%;
  margin-bottom: 20px;
}

.recent {
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}


.news-title {
 margin-top: px;
  color: #000;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.56px;
}
.news-title h6{
  color: #04BC01;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.8px;
text-decoration-line: underline;
}

/* background------------------ */
.blogs-bg{
  position: absolute;
  margin-top: 5%;
  /* left: 100; */
  width: 100%;
  height: 180%;
  background: url('../images/right~2.png') no-repeat center center/cover;
  z-index: -1;
  opacity: 20.5; /* Adjust the opacity to your preference */
}
.second-card {
  width: 43%;
  margin-left: 105px;
  box-sizing: border-box;
   
}

/* Contact Us Page----------------------------- */
.contact-us {
  display: flex;
  margin-top: 80px;
}
.in-touch {
  flex: 2; /* Make this div take up twice the space of address-card */
  padding: 20px;
}
.in-touch h4{
  color: #000;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 25px;
}
.in-touch h5{
  color: #000;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
margin-bottom: 25px;

}
.in-touch label{
  color: #000;
font-family: Inter;
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 20px;
}
.in-touch input{
  flex: 1 0 0;
align-self: stretch;
color: #000;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
border-radius: 15px;
padding: 10px;
}
#message{
  flex: 1 0 0;
  align-self: stretch;
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 15px;
  padding: 10px;
}
.address-card {
  flex: 1;
  background-color:  #05ba09;
  padding: 50px 30px 0px 30px;
  color: #fff;
  border-radius: 15px;
  
}
.address-card h4{
  color: #FFF;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;

}

.address-card p{
  color: #FFF;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.cont{
  margin-top: 60px;
}
.work{
  margin-top: 80px;
}
.connect{
  margin-top: 100px;
}
.details {
  display: flex;
  gap: 20px; /* Space between the name and email fields */
}
.details .field {
  flex: 1; /* Make both fields take equal space */
  display: flex;
  flex-direction: column;
}
label, textarea {
  display: block;
  margin-bottom: 20px;
}

input, textarea {
  width: 100%; /* Make input fields and textarea take up full width */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}
.message{
  background: #05ba09;
  display: flex;
  width: 200px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
 border-radius: 20px;
  transition: ease 0.5s;
 
}
.in-touch a:hover{
  background: #abff7b;
  color: #000;
  width: 220px;
}
.footer-social a img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.map{
  margin-top: 130px;
}
/* Slider----------------------------- */
.carousel {
  position: relative;
  width: 80%;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
}

.carousel-item img {
  width: 100%;
  vertical-align: middle;
}

.carousel-caption {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}


/* Appointment Page--------------------------------------------------- */
.appointments {
  padding: 20px;
}
.appointment {
  display: flex;
  gap: 20px; /* Space between the profile and details cards */
}
.profile-card {
  background-color: white;
  padding: 20px;
 
  flex: 1.5; /* Make this div take up less space than the details card */
  border-radius: 8px; /* Optional: Add rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visibility */
  
}
.details-card {
  background-color: #F1F1F0;
  padding: 20px;
  flex: 2; /* Make this div take up more space than the profile card */
  border-radius: 8px; /* Optional: Add rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visibility */
  
}
.logo-name{
  display: inline-flex;
align-items: center;
gap: 23.859px;
margin-bottom: 40px;
margin-left: 60px;
}
.profile-title{
  color: #000;
font-family: Inter;
font-size: 23.509px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.94px;
}
.profile-text{
  margin-top: 50px;
  color: #000;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.96px;
}
.profile-image img {
  width: 588.252px;
height: 477.805px;
  border-radius: 20px; 
}
.details-title h4{
  color: #000;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.96px;
margin-bottom: 30px;
}
.radios {
  display: flex;
  flex-direction: column; /* Align radio button groups vertically */
  align-items: space-between; /* Align radio button groups to the left */
  gap: 20px; /* Space between radio button groups */
  margin-bottom: 20px; /* Space below the radio buttons */
}
.radio-container {
  display: flex;
  gap: 20px; /* Space between radio button groups */
  margin-bottom: 20px; /* Space below the radio buttons */
}
.radio-group {
  display: flex;
 
  border: 1px solid #000; /* Border around the radio button and label */
  padding: 5px;
  border-radius: 5px;
 
 width: 299px;
 height: 40px;

}
.meet-label{
  margin-left: 20px;
  color: #000;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.96px;
}
.call-label{
  margin-left: 20px;
  color: #000;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.96px;
}
.radio-group input[type="radio"] {
  margin-left: 10px;
   transform: scale(1.5);  
   margin-top: 8px;
   background: #04BC01;
stroke-width: 2px;
stroke: #04BC01;
}

.full-name label {
  margin-bottom: 10px;
  display: block;
  color: #000; /* Ensure the labels are readable on the dark background */
  color: #000;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.96px;
}
.full-name input{
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
  padding: 10px;
}

.mobile label{
  margin-bottom: 10px;
  margin-top: 15px;
  display: block;
  color: #000; /* Ensure the labels are readable on the dark background */
  color: #000;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.96px;
}
.mobile input{
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
  padding: 10px;
  width: 45%;
}
.date-time label{
  margin-bottom: 10px;
  margin-top: 15px;
  display: block;
  color: #000; /* Ensure the labels are readable on the dark background */
  color: #000;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.96px;
}

.date-time input{
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
  padding: 10px;
  width: 140%;
  
}

.time{
  margin-left: 170px;
}
.details-title h4 {
  color: #000;
}
.select {
  width: 100%;
  padding: 10px;
  box-sizing: border-box; /* Include padding and border in element's total width and height */
    border-radius: 4px;
    margin-top: 30px;
    margin-bottom: 60px;
}
.select h4{
  
  color: #000;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.96px;
}

.appointment-btn{
  border: 1px solid;
  border-radius: 8px;
  background: #04BC01;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
line-height: 24px; /* 150% */
letter-spacing: 0.5px;
  padding: 10px 200px;
  text-decoration: none;
  transition: 0.5s;
}
.get-appointed a{
 width: 100%;
}
.get-appointed a:hover{
  background: #6ae13d;
color: #000;
}